*{
    margin: 0;
    padding:0;
}
html{
    width: 1080px;
    height: 720px;
    overflow: hidden;
}
body{
    
    width: 1080px;
    height: 720px;
    background-color: black;
    background-image: url('/img/back.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}
.couple{
    width: 1080px;
    position: relative;
    left: 420px;
    top:200px;
    
}

.couple img{
    
    height: 520px;
    animation:fade 3s infinite;
    transition: 1s ease;
}
.couple img:hover{
    transform: scale(1.1);
}
@keyframes fade{
    0%{
        opacity: 60%;
        
    }
    50%{
        opacity: 30%;
        
    }
    100%{
        opacity: 60%;
        
    }
}